
#form_Persona{
  width: 50%;
  display:inline-block;
  align:left;
background-color: #cccccc;
}

#tb_persona{
margin: 0 auto;
width: 75%;
font-size:17px;

}
.alert {
    padding: 20px;
    background-color: #A9A9A9; /* Red */
    color: white;
    margin-bottom: 15px;
}

#canvas{
  margin-left:50%;
}
.closebtn{
  margin-top: 75%;
  margin-left: 15px;
    color: white;
    font-weight: bold;
    float:center;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;

}
.modal{
  display:none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;

body {
background-color: #cccccc;
}


.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;

}

#caption{
  margin:auto;
  display:block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


.close{
  position: absolute;

  color: #FFF;
  font-size: 40px;
  font-weight: bold;

}
.close:hover,
.close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px)
.modal-content{
  width:100%;
}
hr
{
  width:100%;
  margin:0 auto;

}

